.shop-container{
    display:grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 5px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-container{
    background-color: darkgray;
}

@media screen and(max-width:500px) {
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}