.questions{
padding-top: 5px;
}
.q1{
border: 1px solid black;
border-radius: 5px;
padding-left: 12px;
margin-bottom: 5px;
padding-top: 5px;
}
.q2{
border: 1px solid black;
border-radius: 5px;
padding-left: 12px;
margin-top: 5px;
margin-bottom: 5px;
padding-top: 5px;
}