.product img{
    width: 386px;
    height: 286px;
    border-radius: 8px;
    margin: 8px;
}
.product{
    width: 400px;
    height: 470px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}
.product-info{
    margin: 14px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
.button-cart{
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button-cart:hover{
    background-color: #95a0a7;
}
.button-cart .button-text{
    margin-right: 5px;
}